
.banner {
    display: flex;
    background-image: url('../image/rode_srimongol.avif');
    background-size: cover;
    padding: 0px;
    margin: 0px;
  


}

.banner-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    
}
.banner-image {
    flex: 0.7;
}

.banner-content button {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #a9aaa8;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.banner-content button:hover {
    background-color: #f83535;
    color: #fff;
}
.banner-content h1 {
    font-size: 48px;
    text-align: center;
}
.banner-content p {
    font-size: 18px;
    padding: 0 25px;
}

.banner-image img {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 98%;
    height: auto;
    border-radius: 20px;
}